# Build and Release Folders
bin/
bin-debug/
bin-release-temp/
bin-release/
out/
awaybuilder-desktop/bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml
output.txt

# compiled
.air
.exe
.vscode/settings.json
away3d-core-fp11